In [1]:
import pandas as pd
import sys
sys.path
helpers = "../main"
if helpers not in sys.path:
    sys.path.insert(0, helpers)

In [28]:
import geckoAdmin as gk

In [30]:
import importlib
importlib.reload(gk)

In [3]:
from pycoingecko import CoinGeckoAPI
from datetime import datetime
import time
cg = CoinGeckoAPI()

# Prices for a given time period

## Inputs

 crypto identifier : `string`
 start_date : `datetime`
 end_date : `datetime`

 ## Outputs
 Pandas dataframe of the prices (SGD), market cap & total volume

In [4]:
# Collection of ticker to id mappings
id_maps = {'ETH' : 'ethereum'
           , 'BTC' : 'bitcoin'
           , 'USDC' : 'usd-coin'
           , 'AXS' : 'axie-infinity'}

In [5]:
from datetime import datetime
import time
start= "01-01-2023"
start = datetime.strptime(start,"%d-%m-%Y")
# start=time.mktime(start.timetuple())

end = "01-06-2023"
end = datetime.strptime(end,"%d-%m-%Y")
# end=time.mktime(end.timetuple())

In [6]:
df = gk.get_coin_info(coin_id='ethereum', start_date=start, end_date=end)

In [7]:
df.datetime.min() >= datetime.strptime("01-01-2023","%d-%m-%Y")

True

In [9]:
df.head()

    datetime   prices_sgd  market_cap_sgd  total_volumes
0 2023-01-01  1604.162722    1.932975e+11   3.876105e+09
1 2023-01-02  1607.748728    1.937587e+11   2.918871e+09
2 2023-01-03  1629.168291    1.965266e+11   5.158446e+09
3 2023-01-04  1633.974980    1.969494e+11   4.553926e+09
4 2023-01-05  1685.031002    2.029187e+11   9.021987e+09

In [24]:
a = df.dtypes.to_list()[1]

In [25]:
type(a)

numpy.dtypes.Float64DType

In [26]:
a==np.dtype('float64')

True

In [16]:
np.dtypes

In [31]:
tdf = gk.get_all_coin_info(start_date = start, end_date = end)

In [33]:
tdf['ETH']

      datetime   prices_sgd  market_cap_sgd  total_volumes coin
0   2023-01-01  1604.162722    1.932975e+11   3.876105e+09  ETH
1   2023-01-02  1607.748728    1.937587e+11   2.918871e+09  ETH
2   2023-01-03  1629.168291    1.965266e+11   5.158446e+09  ETH
3   2023-01-04  1633.974980    1.969494e+11   4.553926e+09  ETH
4   2023-01-05  1685.031002    2.029187e+11   9.021987e+09  ETH
..         ...          ...             ...            ...  ...
146 2023-05-27  2469.435168    2.969998e+11   8.432942e+09  ETH
147 2023-05-28  2471.258077    2.970894e+11   5.492805e+09  ETH
148 2023-05-29  2589.345540    3.112176e+11   9.778339e+09  ETH
149 2023-05-30  2564.070190    3.084222e+11   9.155736e+09  ETH
150 2023-05-31  2567.813089    3.087447e+11   8.130565e+09  ETH

[151 rows x 5 columns]

In [36]:
types_ls = list(map(lambda x : type(x), tdf.values()))

In [37]:
types_ls

[pandas.core.frame.DataFrame,
 pandas.core.frame.DataFrame,
 pandas.core.frame.DataFrame,
 pandas.core.frame.DataFrame]

In [40]:
import grapher as gp
importlib.reload(gp)

In [41]:
empty_figure = gp.plot_comp_metrics(master_dict=tdf, coins = None)

In [44]:
import plotly.express as px

In [47]:
px._figure.Figure

AttributeError: module 'plotly.express' has no attribute '_figure'

In [50]:
str(type(empty_figure)) == "<class 'plotly.graph_objs._figure.Figure'>"

True

In [49]:
str(type(empty_figure))

"<class 'plotly.graph_objs._figure.Figure'>"